*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 10px;

}
 
.menu{
list-style:none;
border:0px solid #c0c0c0;
float:left;
position:absolute;
left:2%;
margin-left:auto;
top: 150px;
}


.menu li{
position:relative;
float:left;
border-right:1px solid #c0c0c0;
}


.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}


.menu li ul{
position:absolute;
background-color:#fff;
display:none;
text-align:center;
} 


.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}


.imagem{
background-image: url(../imagens/cabecalho2.jpg);
background-repeat: no-repeat;
background-position: center center;
width: 705px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
height: 150px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
position: absolute;
border:0px solid #c0c0c0;
}


div.branco{
    width: 705px;
    height: auto;
    border:1px solid #c0c0c0;
    padding:50px;
    position: absolute;
    margin-left:-114px;
    margin-top:200px;		
    left:20%;
    top:20%;
}
